<section>
    <div class="container-fulid divi w-100">
      <div class="row align-items-center">
        <div class="col-md-12 col-sm-12  mt-5 text-center text-light">
          <h1 class="col-8 offset-2 ">Facts About Book's</h1>
          <p class="col-6 offset-3 text-center">
            The history of books became an acknowledged academic discipline in the
            1980s. Contributors to the discipline include specialists from the
            fields of textual scholarship, codicology, bibliography, philology,
            palaeography, art history, social history and cultural history. Its
            key purpose is to demonstrate that the book as an object, not just the
            text contained within it, is a conduit of interaction between readers
            and words. Prior to the evolution of the printing press, made famous
            by the Gutenberg Bible, each text was a unique hand crafted article,
            personalized through the design features incorporated by the scribe,
            owner, bookbinder and illustrator.[1] Analysis of each component part
            of the book reveals its purpose, where and how it was kept, who read
            it, ideological and religious beliefs of the period and whether
            readers interacted with the text within. Even a lack of evidence of
            this nature leaves valuable clues about the nature of that particular
            book.
          </p>
  
          <button type="button" class="btn btn-success" ><a href="https://en.wikipedia.org/wiki/History_of_books"> Read more</a></button>
        </div>
      </div>
    </div>
  </section>
  