<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div
          class="
            d-flex
            flex-row
            align-items-center
            justify-content-center justify-content-lg-start
          "
        >
          <p class="book lead fw-normal mx-4 mt-2 mb-3">
            Sign in( BookLibrary )
            <i class="fa fa-book text-danger" aria-hidden="true"></i>
          </p>
        </div>
        <form
          class="container-fluid"
          #userForm="ngForm"
          (ngSubmit)="onUserFormSubmit()"
        >
          <div>
            <!-- Email input -->
            <label class="form-label" for="form3Example3">Email address</label>
            <div class="form-outline  mb-2 ">
              <input
                [(ngModel)]="userModel.userName"
                type="text"
                autofocus
                name="userName"
                id="form3Example3"
                class="form-control form-control-lg"
                #userName="ngModel" 
                minlength="4"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                
                required              />

                <!-- <div [hidden]="userName.valid || userName.pristine"
                class="alert alert-danger">
             Name is required
           </div> -->
              <div *ngIf=" userName.invalid && (userName.dirty || userName.touched)"  class="alert alert-danger">
                <div *ngIf= "userName.errors?.required">Please enter userName</div>
                <div *ngIf= "userName.errors?.pattern">Please provide a valid email</div>
                <div *ngIf= "userName.errors?.minlength ">user name is too small</div>
                <!-- <span *ngIf= "userName.errors?.minlength">Please enter userName</span> -->
              </div>
              <!-- <div
                [hidden]="userName.valid || userName.pristine"
                class="alert alert-danger"
              >
                Name is required
              </div> -->
            </div>
          </div>
          <!-- Password input -->
          <div class="form-group">
            <label class="form-label" for="form3Example4">Password</label>

            <div class="form-outline mb-3">
              <input
                [(ngModel)]="userModel.password"
                #password ="ngModel"
                minlength="8"
                pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$"
                type="password"
                 required
                name="password"
                id="form3Example4"
                class="form-control form-control-lg"
                placeholder="Enter password"
                
              />
              <div *ngIf=" password.invalid && (password.dirty || password.touched)"  class="alert alert-danger" >
                <!-- <span *ngIf= "userName.errors?.required">Please enter userName</span> -->
                <div *ngIf= "userName.errors?.required">password must contain 1 number (0-9)
                  password must contain 1 uppercase letters
                  password must contain 1 lowercase letters
                  password must contain 1 non-alpha numeric number
                  password is 8-16 characters with no space</div>
                <div *ngIf= "userName.errors?.pattern">Please provide a valid password</div>
                <div *ngIf= "password.errors?.minlength">must contains more than 5 characters</div>
                </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
             
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a href="#!" class="link-danger">Register</a>
            </p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fa fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fa fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fa fa-linkedin-in"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="
      d-flex
      flex-column flex-md-row
      text-center text-md-start
      justify-content-between
      py-4
      px-4 px-xl-5
      bg-primary
    "
  >
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-primary me-4">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fa fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fa fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
