<div class="hex1">
  <div class="container-fulid">
    <img class="side-img left col-4" src="./assets/images/11.jpg" />
    <img class="side-img right col-4" src="./assets/images/12.jpg" />
    <img class="side-img right col-4" src="./assets/images/13.jpg" />
  </div>
  <div class="container">
    <div class="jumbotron">
      <h1>
        This is a test of images on the side of a bootstrap style page.
        <small>
          <strong
            >A book is a medium for recording information in the form of writing
            or images, typically composed of many pages (made of papyrus,
            parchment, vellum, or paper) bound together and protected by a
            cover</strong
          >
        </small>
      </h1>
    </div>
  </div>
  <div class="container row m-5">
    <div class="row col-6">
      <p>
        As an intellectual object, a book is prototypically a composition of
        such great length that it takes a considerable investment of time to
        compose and still considered as an investment of time to read. In a
        restricted sense, a book is a self-sufficient section or part of a
        longer composition, a usage reflecting that, in antiquity, long works
        had to be written on several scrolls and each scroll had to be
        identified by the book it contained. Each part of Aristotle's Physics is
        called a book. In an unrestricted sense, a book is the compositional
        whole of which such sections, whether called books or chapters or parts,
        are parts.
      </p>

      <p>
        As an intellectual object, a book is prototypically a composition of
        such great length that it takes a considerable investment of time to
        compose and still considered as an investment of time to read. In a
        restricted sense, a book is a self-sufficient section or part of a
        longer composition, a usage reflecting that, in antiquity, long works
        had to be written on several scrolls and each scroll had to be
        identified by the book it contained. Each part of Aristotle's Physics is
        called a book. In an unrestricted sense, a book is the compositional
        whole of which such sections, whether called books or chapters or parts,
        are parts
      </p>
    </div>
    <div class="row col-6">
      <form>
        <div class="row col-1 offset-11">
          <button class="mb-2" type="click" >
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </div>

        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Author</label> -->
          <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Auhthor Name"> -->
          <select class="form-select" aria-label="Default select example">
            <option selected>Author's Name</option>
            <option value="1">C. S. Lewis</option>
            <option value="2">Dan Brown</option>
            <option value="3">Robert James Waller</option>
            <option value="4">Lew Wallace</option>
            <option value="5">Khaled Hosseini</option>
            <option value="6">J. R. R. Tolkien</option>
            <option value="7">Agatha Christie</option>
            <option value="8">Cao Xueqin</option>
            <option value="9">Antoine de Saint-Exupéry</option>
            
          </select>
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <label for=""></label>
        <div class="form-group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Book's Name</option>
            <option value="1">The Bridges of Madison County</option>
            <option value="2">Ben-Hur: A Tale of the Christ</option>
            <option value="3">The Kite Runner</option>
            <option value="4">The Hobbit</option>
            <option value="5">The Little Prince</option>
            <option value="6">Dream of the Red Chamber</option>
            <option value="7">And Then There Were None</option>
            <option value="8">The Lion, the Witch and the Wardrobe</option>
            <option value="9">The Da Vinci Code</option>
            <option value="10">The Catcher in the Rye</option>

          </select>
          <label for="exampleInputPassword1">Book</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Book's Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Language</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Language"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Date</label>
          <input
            type="date"
            class="form-control"
            id="exampleInputPassword1"
            placeholder
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Published</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Published"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Issued</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Issued"
          />
        </div>
        <div class="form-group m-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
